.centered {
    text-align: center;
}

#totalConfirmed {
    font-size: 1.25em;
    color: #0000bb;
}   

#totalRecovered {
    font-size: 1.25em;
    color: #20e47d;
}

#totalDeaths {
    font-size: 1.25em;
    color: #ff6363
}

.customCard {
    background: white;
    border-radius: 0.5em;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#cardTitle {
    padding-top: 0.5em;
}

#totalConfirmedLine {
    border: 0.5em solid hsl(240, 100%, 37%);
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    margin-bottom: 0;
}

#totalRecoveredLine {
    border: 0.5em solid #20e47d;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    margin-bottom: 0;
}

#totalDeathsLine {
    border: 0.5em solid #ff6363;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    margin-bottom: 0;
}