* {
    font-family: "Hind Vadodara", sans-serif;
}

#logo {
    width: 50%;
}

.centered {
    text-align: center;
    margin: 1em;
}

#bold {
    font-weight: bold;
}

.stack {
    display: block;
}

.wwToday {
    text-align: center;
}

#header {
    position: sticky;
    top: 0;
}


