* {
    font-family: "Hind Vadodara", sans-serif;
}

#logo {
    width: 50%;
}

.centered {
    text-align: center;
    margin: 1em;
}

.bold {
    font-weight: bold;
}

.stack {
    display: block;
}

#selectCountry {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-align: center;
}

.wwToday {
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#header {
    position: sticky;
    top: 0;    
    z-index: 999;
    background: white;
}

#search {
    border: 0.05em solid black;
}

.dropdown {
    position: relative;
    width: 100%;
    height: 10em;
    background: #F6F6F6;
}

agm-map {
    height: 525px;
}

#chart {
    text-align: center;
    width: 100%;
    height: 100%;
}

.container {
    min-width: 100%;
}

.special {
    margin-left: 4em;
    margin-right: 4em;
}

#wwTotals {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#current {
    cursor: pointer;
    text-decoration: none;
    color: #ff6363;
    background: linear-gradient(to right, #ff6363, #ff6363 50%, #ffa1a1 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

#current:hover {
    background-position: 0 100%;
}